doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title dates-list-generator
        script(src='js.js')
    body
        div#input
            h3 Дни занятий
            table
                tr
                    td 
                    td
                tr
                tr
